#prénom{
    position: relative;
    left: 40%;
    bottom: 160px;
color: darkred;
    border: outset darkred;
    margin-right: 1270px;
    font-family: fantasy;
    background-color: black;
    line-height: 150%;
}
#musique{
    position: relative;
    border-color: darkred;
}
p{
    position: relative;
    text-align: center;
bottom: 70px;
}
#musique{
    left: 190px;
}
#films{
    position: relative;
    text-align: center;
    bottom : 100px;
}
#jeuxvideo{
    position: relative;
    left: 1200px;
    bottom: 200px;

}
span{
    border:outset red;
}

body {
    color:black;
    background-color:darkorange;
    font-family: "cursive";
    font-size: medium;

}
img{border: outset darkred;}
#liens{
    text-align: center;
}