#prénom{
    position:absolute;
    left: 50%;
    bottom: 600px;
color: darkred;
    border: outset darkred;
    margin-right: 1220px;
    font-family: fantasy;
    background-color: black;
    line-height: 150%;
    padding-left: 2%;
    padding-right:2%;
}
#musique{
    position: absolute;
    border:outset darkred;
    left: 45%;
    top: 61%;
    padding-right: 2%;

}
p{
    position: absolute;
    left: 30%;
bottom: 60%;

}

#films{
    position: absolute;
    bottom : 22%;
    border:outset black;
    left:15%;
   padding-right: 2%;
}
#jeuxvideo{
    position: absolute;
    left: 1200px;
    bottom: 22%;
    border:outset black;
    padding-right: 3%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 1%;


}
span{
    border:outset red;
}

body {
    color:black;
    background-color:darkorange;
    font-family: "cursive";
    font-size: medium;

}
img{border: outset darkred;}
#liens{
    border: outset red;
    top: 95%;
    position:absolute;
    left:40%;
}
#page{
margin: auto;
}
a:hover{
    background-color: whitesmoke;
}